<section class="section overflow-hidden">
    <a id="login"></a>
    <div class="container">
        <div class="row">
            <div class="col-md-6 pr-lg-5">
                <h2 class="section-title" data-aos="fade-up" data-aos-delay="200">Forgot your password?</h2>
                <p>You should have used a password manager you stupid idiot!!</p>
                <p>But we'll help you out this time. Submit your username and we'll send a 6 digit password reset code to you.</p>
                <form action="/Home/ForgotPassword" method="post">
                    <div class="mb-3">
                        <label for="username" class="form-label">Username</label>
                        <input type="text" autocomplete="off" class="form-control shadow rounded" name="username" id="username">
                    </div>
                    <input type="submit" class="btn btn-primary" value="Send reset code" />
                </form>
            </div>
            <div class="col-md-6 pl-lg-5">
                <img src="/images/bitwarden.webp" class="img-fluid" alt="dashboard" data-aos="fade-left" data-aos-delay="200">
            </div>
        </div>
    </div>
</section>